.benefits {
	padding: 120px 0;
}

.benefits__row {
	display: flex;
	gap: 70px;
	text-align: center;
}
.benefits__item {
}
.benefits__item-img {
	margin-bottom: 53px;
}
.icon {
}
.icon--benefits {
}
.benefits__item-text {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	line-height: 1.35;
	font-weight: 300;
}
