@use "breakpoint";

@font-face {
	font-family: "Playfair Display", serif;
	src: url(/src/assets/static/font/);
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Roboto", sans-serif;
	src: url(/src/assets/static/font/);
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Raleway", sans-serif;
	src: url(/src/assets/static/font/) format("woff2-variations");
	font-display: swap;
	font-weight: 125 950;
	font-style: normal;
}

h1,
.h1 {
	@media screen and (max-width: breakpoint.$mobile) {
	}
}

h2,
.h2 {
	font-family: "Playfair Display";
	font-weight: 700;
	font-size: 36px;
	line-height: 1.333;

	color: var(--accsent);
	@media screen and (max-width: breakpoint.$mobile) {
	}
}

h3,
.h3 {
	@media screen and (max-width: breakpoint.$mobile) {
	}
}

h4,
.h4 {
	@media screen and (max-width: breakpoint.$mobile) {
	}
}

h5,
.h5 {
	@media screen and (max-width: breakpoint.$mobile) {
	}
}

h6,
.h6 {
	@media screen and (max-width: breakpoint.$mobile) {
	}
}

.subtitle {
	@media screen and (max-width: breakpoint.$mobile) {
	}
}

body,
input {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: var(--white);
	@media screen and (max-width: breakpoint.$mobile) {
	}
}

a {
	color: inherit;
	transition: var(--default-transition);
	&:hover {
		color: var(--accsent);
	}
}
